@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	:root,
	:root[data-theme="light"] {
		--theme-bg: 0deg 0% 99%;
		--theme-link: 350deg 70% 35%;
		--theme-text: 210deg 10% 18%;
		--theme-accent: 350deg 70% 45%;
		--theme-accent-2: 0deg 0% 10%;
		--theme-quote: 350deg 70% 40%;
	}

	:root[data-theme="dark"] {
		--theme-bg: 220deg 8% 13%;
		--theme-link: 355deg 55% 70%;
		--theme-text: 210deg 8% 80%;
		--theme-accent: 350deg 60% 55%;
		--theme-accent-2: 0deg 0% 92%;
		--theme-quote: 350deg 65% 60%;
	}
}