---
const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-row items-center justify-center gap-x-8 pb-10 align-top font-semibold text-gray-600 dark:text-gray-400"
>
	<div class="footer-wrapper hidden text-xs min-[1200px]:flex min-[1200px]:w-2/5">
		<div class="copyright-wrapper">
			<span>Copyright &#169; {year}</span>
			<span class="separator">&nbsp;|&nbsp;</span>
			<span>Based on Astro Cactus Theme by Chris Williams.</span>
		</div>
	</div>
	<nav
		aria-label="More on this site"
		class="flex justify-center gap-x-2 min-[900px]:w-3/5 min-[900px]:justify-end min-[900px]:divide-x min-[900px]:divide-gray-500"
	>
		<a
			class="px-4 py-2 text-[1.5rem] font-extrabold hover:text-textColor hover:underline min-[900px]:text-[2rem] min-[1000px]:py-0 min-[1000px]:text-base"
			href="https://scholar.google.com/citations?user=GDBDCOAAAAAJ&hl=en"
			target="_blank"
			rel="noopener noreferrer"
		>
			GoogleScholar
		</a>
		<a
			class="px-4 py-2 text-[1.5rem] font-extrabold hover:text-textColor hover:underline min-[900px]:text-[2rem] min-[1000px]:py-0 min-[1000px]:text-base"
			href="https://x.com/OhlerJohann"
			target="_blank"
			rel="noopener noreferrer"
		>
			Twitter
		</a>
		<a
			class="px-4 py-2 text-[1.5rem] font-extrabold hover:text-textColor hover:underline min-[900px]:text-[2rem] min-[1000px]:py-0 min-[1000px]:text-base"
			href="https://bsky.app/profile/ohlerjohann.bsky.social"
			target="_blank"
			rel="noopener noreferrer"
		>
			Bluesky
		</a>
	</nav>
</footer>
