---

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-10 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="footer-wrapper hidden min-[900px]:flex">
		<div class="copyright-wrapper">
			<span>Copyright &#169; {year}</span>
			<span class="separator">&nbsp;|&nbsp;</span>
			<span>Based on Astro Cactus Theme by Chris Williams.</span>
		</div>
	</div>
	<nav
	aria-label="More on this site"
	class="flex w-full justify-center min-[900px]:justify-end gap-x-2 min-[900px]:gap-x-0 min-[900px]:divide-x min-[900px]:divide-gray-500"
  >
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[900px]:py-0 min-[900px]:text-base min-[900px]:hover:text-textColor hover:underline"
			href="https://scholar.google.com/citations?user=GDBDCOAAAAAJ&hl=en"
			target="_blank"
			rel="noopener noreferrer"
		>
			GoogleScholar
		</a>
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[900px]:py-0 min-[900px]:text-base min-[900px]:hover:text-textColor hover:underline"
			href="https://x.com/OhlerJohann"
			target="_blank"
			rel="noopener noreferrer"
		>
			Twitter
		</a>
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[900px]:py-0 min-[900px]:text-base min-[900px]:hover:text-textColor hover:underline"
			href="https://bsky.app/profile/ohlerjohann.bsky.social"
			target="_blank"
			rel="noopener noreferrer"
		>
			Bluesky
		</a>
	</nav>
</footer>
