---

const year = new Date().getFullYear();
---

<footer
	class="mt-auto gap-x-8 w-full flex-row flex items-center pb-10 align-top font-semibold text-gray-600 dark:text-gray-400  "
>
	<div class="footer-wrapper min-[1000px]:w-2/5 hidden min-[1000px]:flex text-xs">
		<div class="copyright-wrapper">
			<span>Copyright &#169; {year}</span>
			<span class="separator">&nbsp;|&nbsp;</span>
			<span>Based on Astro Cactus Theme by Chris Williams.</span>
		</div>
	</div>
	<nav
		aria-label="More on this site"
		class="flex min-[1000px]:w-3/5 min-[1000px]:justify-end justify-center gap-x-2 min-[1000px]:divide-x min-[1000px]:divide-gray-500"
  	>
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[1000px]:py-0 min-[1000px]:text-base hover:text-textColor hover:underline"
			href="https://scholar.google.com/citations?user=GDBDCOAAAAAJ&hl=en"
			target="_blank"
			rel="noopener noreferrer"
		>
			GoogleScholar
		</a>
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[1000px]:py-0 min-[1000px]:text-base hover:text-textColor hover:underline"
			href="https://x.com/OhlerJohann"
			target="_blank"
			rel="noopener noreferrer"
		>
			Twitter
		</a>
		<a
			class="px-4 py-2 text-[2rem] font-extrabold min-[1000px]:py-0 min-[1000px]:text-base hover:text-textColor hover:underline"
			href="https://bsky.app/profile/ohlerjohann.bsky.social"
			target="_blank"
			rel="noopener noreferrer"
		>
			Bluesky
		</a>
	</nav>
</footer>
