---
import { menuLinks } from "src/site.config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex-col justify-center sm:justify-left items-center sm:ps-[4.5rem]" id="main-header" sm:flex-col>
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="hidden sm:flex h-26 w-26 absolute me-3 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-28 sm:w-28"
				fill="none"
				focusable="false"
				viewBox="0 100 800 800"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					transform="translate(64.559436, 545.624993)"
					fill="#05BEBF"
					d="M 325.34375 -130.5 C 325.34375 -107.101562 320.914062 -86.628906 312.0625 -69.078125 C 303.21875 -51.523438 291.296875 -36.820312 276.296875 -24.96875 C 261.296875 -13.125 244.492188 -4.28125 225.890625 1.5625 C 207.296875 7.414062 188.097656 10.34375 168.296875 10.34375 C 148.492188 10.34375 129.289062 7.414062 110.6875 1.5625 C 92.09375 -4.28125 75.296875 -13.125 60.296875 -24.96875 C 45.296875 -36.820312 33.367188 -51.523438 24.515625 -69.078125 C 15.671875 -86.628906 11.25 -107.101562 11.25 -130.5 L 11.25 -196.65625 L 160.203125 -196.65625 L 160.203125 -140.40625 L 173.703125 -140.40625 L 173.703125 -315.453125 L 325.34375 -315.453125 Z M 325.34375 -130.5 "
				></path>
				<path
					transform="translate(398.458812, 545.624993)"
					fill="#F49880"
					d="M 172.34375 -325.796875 C 195.445312 -325.796875 217.125 -321.445312 237.375 -312.75 C 257.625 -304.050781 275.472656 -291.972656 290.921875 -276.515625 C 306.367188 -261.066406 318.441406 -243.21875 327.140625 -222.96875 C 335.847656 -202.71875 340.203125 -181.046875 340.203125 -157.953125 C 340.203125 -134.847656 335.847656 -113.171875 327.140625 -92.921875 C 318.441406 -72.671875 306.367188 -54.820312 290.921875 -39.375 C 275.472656 -23.925781 257.625 -11.847656 237.375 -3.140625 C 217.125 5.554688 195.445312 9.90625 172.34375 9.90625 C 149.25 9.90625 127.578125 5.554688 107.328125 -3.140625 C 87.078125 -11.847656 69.222656 -23.925781 53.765625 -39.375 C 38.316406 -54.820312 26.242188 -72.671875 17.546875 -92.921875 C 8.847656 -113.171875 4.5 -134.847656 4.5 -157.953125 C 4.5 -181.046875 8.847656 -202.71875 17.546875 -222.96875 C 26.242188 -243.21875 38.316406 -261.066406 53.765625 -276.515625 C 69.222656 -291.972656 87.078125 -304.050781 107.328125 -312.75 C 127.578125 -321.445312 149.25 -325.796875 172.34375 -325.796875 Z M 172.34375 -325.796875 "
				></path>
				<path
					transform="translate(64.559436, 517.499994)"
					fill="#F49880"
					d="M 325.34375 -130.5 C 325.34375 -107.101562 320.914062 -86.628906 312.0625 -69.078125 C 303.21875 -51.523438 291.296875 -36.820312 276.296875 -24.96875 C 261.296875 -13.125 244.492188 -4.28125 225.890625 1.5625 C 207.296875 7.414062 188.097656 10.34375 168.296875 10.34375 C 148.492188 10.34375 129.289062 7.414062 110.6875 1.5625 C 92.09375 -4.28125 75.296875 -13.125 60.296875 -24.96875 C 45.296875 -36.820312 33.367188 -51.523438 24.515625 -69.078125 C 15.671875 -86.628906 11.25 -107.101562 11.25 -130.5 L 11.25 -196.65625 L 160.203125 -196.65625 L 160.203125 -140.40625 L 173.703125 -140.40625 L 173.703125 -315.453125 L 325.34375 -315.453125 Z M 325.34375 -130.5 "
				></path>
				<path
					transform="translate(398.458812, 517.499994)"
					fill="#FECCA8"
					d="M 172.34375 -325.796875 C 195.445312 -325.796875 217.125 -321.445312 237.375 -312.75 C 257.625 -304.050781 275.472656 -291.972656 290.921875 -276.515625 C 306.367188 -261.066406 318.441406 -243.21875 327.140625 -222.96875 C 335.847656 -202.71875 340.203125 -181.046875 340.203125 -157.953125 C 340.203125 -134.847656 335.847656 -113.171875 327.140625 -92.921875 C 318.441406 -72.671875 306.367188 -54.820312 290.921875 -39.375 C 275.472656 -23.925781 257.625 -11.847656 237.375 -3.140625 C 217.125 5.554688 195.445312 9.90625 172.34375 9.90625 C 149.25 9.90625 127.578125 5.554688 107.328125 -3.140625 C 87.078125 -11.847656 69.222656 -23.925781 53.765625 -39.375 C 38.316406 -54.820312 26.242188 -72.671875 17.546875 -92.921875 C 8.847656 -113.171875 4.5 -134.847656 4.5 -157.953125 C 4.5 -181.046875 8.847656 -202.71875 17.546875 -222.96875 C 26.242188 -243.21875 38.316406 -261.066406 53.765625 -276.515625 C 69.222656 -291.972656 87.078125 -304.050781 107.328125 -312.75 C 127.578125 -321.445312 149.25 -325.796875 172.34375 -325.796875 Z M 172.34375 -325.796875 "
				></path>
			</svg>
			<span class="text-4xl font-bold sm:ms-[4rem] sm:text-4xl">Johann Ohler</span>
		</a>
		<nav
			aria-label="Main menu"
			class="-inset-x-4 top-14 sm:ms-[4rem] hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:ms-[3rem] sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-solid sm:divide-link sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-3 py-2 text-[1.3rem] text-link underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
