---
import { menuLinks } from "src/site.config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header
	class="id= min-[1000px]:mb-17 group relative mb-10 flex flex-col items-center min-[1000px]:flex-row min-[1000px]:items-start min-[1000px]:ps-[3.5rem]"
	main-header"
	"
>
	<div
		class="mb-3 flex flex-row items-center min-[1000px]:mb-0 min-[1000px]:flex-col min-[1000px]:items-start"
	>
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none min-[1000px]:relative min-[1000px]:inline-block"
			href="/"
		>
			<svg
				class="absolute me-3 hidden h-20 w-20 min-[1000px]:absolute min-[1000px]:start-[-3.5rem] min-[1000px]:me-0 min-[1000px]:flex min-[1000px]:h-20 min-[1000px]:w-20"
				viewBox="0 0 319.33 319.33"
				xmlns="http://www.w3.org/2000/svg"
				aria-hidden="true"
				focusable="false"
			>
				<g transform="translate(-251.76355,-176.9829)">
					<g transform="matrix(1.25,0,0,-1.25,-763.52652,883.83566)">
						<!-- Background square: red in light, white in dark -->
						<path
							d="m 1066.8961,564.68221 -253.86404,0 0,-253.864 253.86404,0 0,253.864 z"
							class="fill-red-600 dark:fill-white"></path>

						<!-- Foreground glyphs: white in light, red in dark -->
						<path
							d="m 860.72559,516.02529 16.70343,0 0,-139.1484 24.79177,0 0,-17.27699 -41.4952,0 0,156.42539 z"
							class="fill-white dark:fill-red-600"></path>
						<path
							d="m 977.25668,516.00505 42.21702,0 0,-17.0546 -25.51359,0 0,-50.14929 23.84759,0 0,-18.24852 -23.84759,0 0,-53.66089 25.51359,0 0,-17.29259 -42.21702,0 0,156.40589 z"
							class="fill-white dark:fill-red-600"></path>
						<path
							d="m 916.77826,359.65769 0,16.72683 0,0.38628 5.23225,0.0195 c 6.871,0.035 18.49823,4.82257 20.21112,15.64604 1.66214,10.48013 0.43698,18.06905 -13.04359,41.09333 l -0.17558,0.38627 c -9.38373,15.2988 -18.27973,28.65842 -14.95934,49.62256 3.60913,22.79017 21.42846,32.82549 37.64027,32.52507 l 5.23616,0.008 0,-16.72685 0,-0.38627 -5.23616,-0.0195 c -6.86709,-0.0389 -18.81819,-4.74845 -20.53495,-15.56802 -1.65826,-10.48403 -0.51503,-17.26529 12.61437,-39.98132 l 0.35117,-0.58527 c 9.75049,-15.70067 18.53335,-29.57532 15.21295,-50.53946 -3.60913,-22.79018 -21.10461,-32.89964 -37.31642,-32.60309 l -5.23225,-0.004"
							class="fill-white dark:fill-red-600"></path>
					</g>
				</g>
			</svg>
			<span
				class="ms-0 text-center text-6xl font-bold min-[1000px]:ms-[3rem] min-[1000px]:text-left min-[1000px]:text-4xl"
				>Johann Ohler</span
			>
		</a>
		<nav
			aria-label="Main menu"
			class="-inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex min-[1000px]:static min-[1000px]:z-auto min-[1000px]:ms-[2rem] min-[1000px]:mt-1 min-[1000px]:flex min-[1000px]:flex-row min-[1000px]:items-center min-[1000px]:divide-x min-[1000px]:divide-solid min-[1000px]:divide-link min-[1000px]:rounded-none min-[1000px]:bg-transparent min-[1000px]:py-0 min-[1000px]:text-left min-[1000px]:shadow-none min-[1000px]:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-3 py-2 text-[1.3rem] text-link underline-offset-2 min-[1000px]:py-0 min-[1000px]:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<!-- <mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 min-[1000px]:invisible min-[1000px]:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button> -->
</header>

<!-- <script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script> -->
