---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Page not found",
	title: "404",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page not found</h1>
	<p class="mb-8">Please use the navigation to find your way back.</p>
</PageLayout>
