---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Research" }}>
	<section class="mt-0 flex flex-col gap-10 min-[1000px]:flex-row" id="Home">
		<img
		  src="/WEBSITE_MP.jpg"
		  alt="Johann Ohler"
		  class="h-auto mx-auto max-h-[500px] w-2/5 min-w-[250px] rounded-lg object-cover min-[1000px]:w-1/5 lg:w-1/3"
		/>
		<div class="flex-1 text-justify leading-normal">
			<p class="mb-4 mt-8 min-[1000px]:mt-0">
				I am a first-year PhD Student in Economic History at the LSE. My research interests lie in <span
					class="decoration-3 font-bold underline decoration-accent">Economic History</span
				>, <span class="decoration-3 font-bold underline decoration-accent"
					>Population Economics</span
				> and <span class="decoration-3 font-bold underline decoration-accent"
					>Political Economy</span
				>. In my current projects I use large-scale data sources to better understand the economic
				and political factors that drove the demographic changes of the 18th and 19th century.

				<p class="mb-4">
					I am a member of the <a
						class="cactus-link"
						href="https://www.lse.ac.uk/Economic-History/HED"
						class="text-link hover:underline"
						target="_blank"
						rel="noopener noreferrer">Historical Economic Demography</a
					> group, and am supervised by <a
						class="cactus-link"
						href="https://www.ericbschneider.com/research"
						class="text-link hover:underline"
						target="_blank"
						rel="noopener noreferrer">Eric Schneider</a
					> and <a
						class="cactus-link"
						href="https://www.tomraster.com/"
						class="text-link hover:underline"
						target="_blank"
						rel="noopener noreferrer">Tom Raster</a
					>.
				</p>

				<p class="mb-4">
					You can find my CV <a
						class="text-bold cactus-link"
						href="https://www.dropbox.com/scl/fi/ztlk7oyrptvgxp0ee0o8h/CV_Johann_Ohler.pdf?rlkey=u6ojvd4kihatugfrmisl6zpkm&st=64uwzjj5&dl=0"
						class="text-link hover:underline"
						target="_blank"
						rel="noopener noreferrer">here</a
					>. Email: <a href="mailto:j.p.ohler@lse.ac.uk" class="text-link">j.p.ohler@lse.ac.uk</a>
				</p>
			</p>
		</div>
	</section>

	<section class="min-[1000px]:mt-20 mt-14" id="WorkingPapers">
		<!-- Working Papers Section -->
		<h1 class="mb-8 text-center text-lg font-bold sm:text-left">Working Papers</h1>
		<ul class="mb-4">
			<li>
				<strong>
					<a
						href="https://download.ssrn.com/yexeh/bc1a57b6-42a3-42d6-a1cf-22fa42e5c6c4-meca.pdf?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFsaCXVzLWVhc3QtMSJHMEUCIAE99vOTXQXbZGTmPPCECcuLcD%2Fx0n8eyI4LMcMcAR0vAiEA8xPJGf3MO53LiV7pdeM8vGwcTLCcaNapPTrJ0rkzw3EqvQUIFBAEGgwzMDg0NzUzMDEyNTciDA9dZtb%2BaSsuqnDZjyqaBYa6Hmw3tA3cra8lPkyKmJvwr1P9NCRyES%2FBk6BNvDZoNdSBvT4vzA0J10PRofmwyhBJA89NXYU6cAt3BAc%2FpOSI%2ByoOmeBwo%2BYXoiHrWt69TBN0SG8yFkVqaMIOlWZkGb7FhC0jaeDQ%2FKJ27Ski8hkGefVXIJ%2B94DQLhz0PxoJVif9CjXoQK8wygpaSEZDR3bhDaADayVdpwlas2FeIq%2BHDcGFyo%2FOyW%2BgQN7iAfwHBEdxtPZdUut41AsPKiYhzVek1hlsa5i23YD6K11oVFOPZYmYU01aVh8VKV987flBiIgHKp%2BQ%2F%2FQggba%2BEXz7kCBBrKU2F34DDuTDyPJss1kbDzjZNO%2FVqXv6WxgYOguHnn49ZktXUqtXLvBZzgLRJvxq2SfNgYTCJlcwISNvhAT6%2BkNasQRcz%2B3S8omQAfQ%2Fz6o1ws2OVHcbOJea%2BEwH%2BSiUDWBxrvKwzpY6sG0q4UN2Yy1p0%2F%2BUUMLQirisqagRToP9R1O3Cl2mI9nUVDESnveymqP8Zz88MFf52esJkpX7Q9H14J2KVXhmMBRlznOy1ykMa%2FNlOnyF1ncJhA%2Bqg%2BF0EANm2FpSGchLrV9ux0YkZvsCW3tvfvhLE8DhC3eKz9YGq00Aw782M45RxXNw8KJPlb4BBJRqv%2F2MWPfYFsiO3WsDrS1XQpVGN%2FQ2SKd1Ma3iiV6RunG0vykKEaQoonVRLZk5rSEnkbmFju7qZkqRWkMhfiKu07dViwaGefqIFc0qX9978l%2Bcuml8C3psfetbXE3X7rA6U1euK0Qkn%2Bn%2BKMW7z6%2BZrUhdWmIMN%2Be%2FokcahOTnt2nKveNBz6gZsV6wTCfvehapJ%2FA4vtJJyaWKUfMYew0SivXnOGGeJkrOzUmsvGWjAeVef4DDZh8a6BjqxAVmy9bbTRXeBeZ8Kp5FHm9ASRqUD5tPN0NsvT4r%2FinR0fCdssPicdNUxawvSu2iUn59Xf4AqraGwGIGlMwFT8x8BrwW5EKYo9br%2Bg7mpVxsfaE%2BjatIj4z7Fup9QHZfa8FMbBMMJ0qIozYCxBK9V5G3s9EUehV3qwDee3mq9ybb6wLjDvm3qMn9VsXXmMAO82fPqzl3OrrZO4a0yJNmywxOpOlzeS6SYzq0aM4Ai%2F%2FdhbA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241205T112504Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAUPUUPRWEUTHUN6YF%2F20241205%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=70b43f5be8fa880783740f0ad3530b395094458adafb733b2f6061a1110242ca&abstractId=4965731"
						class="text-link"
						target="_blank"
						rel="noopener noreferrer"
						>Malthus in Germany? Reproductive Success and Status in pre-industrial Germany</a
					>
				</strong>
				<!-- Abstract Section -->
				<p class="mt-4 text-[1.2rem] sm:ml-8">
					By exploiting the demographic records of 150,000 individuals from the historical county of
					Wittgenstein, I test for status gradients in child mortality (the Malthusian positive
					check) and marital fertility (preventive check). While I find no evidence for a status
					gradient in child mortality, I find strong evidence for a status gradient in fertility.
					The richest families had, on average, one-and-a-half extra children compared to their
					poorer compatriots. Turning to the mechanics of the preventive check, this was driven by
					delayed marriage in low-status families. Disaggregation of my dataset into six periods
					reveals that this fertility differential began to disintegrate around 1800.
				</p>
				<!-- Presentation Section -->
				<p class="mt-6 text-[1.2rem]">
					<span class="italic">Presentations:</span>
					IPECE (UCD), Centre for Economics, Polics, and History (TCD), Irish Economic Association Conference.
				</p>
				<!-- Awards Section -->
				<p class="mt-1 text-[1.2rem]">
					<span class="italic">Awards:</span> LSE Economic History Best Dissertation (2023), Francesca
					Carnevali Prize (2024).
				</p>
			</li>
		</ul>
	</section>

	<section class="mt-16" id="WIP">
		<!-- Working in Progress Section -->
		<h1 class="mb-8 text-center text-lg font-bold sm:text-left">Work in Progress</h1>
		<ul class="mb-8 space-y-10">
			<li>
				<strong> Build Better Health: Public Housing and the Mortality Transition</strong> - with
				<a
					class="cactus-link"
					href="https://alandebromhead.weebly.com/"
					class="text-link hover:underline"
					target="_blank"
					rel="noopener noreferrer">Alan de Bromhead (UCD)</a
				>, and
				<a
					class="cactus-link"
					href="https://www.ronanlyons.com/"
					class="text-link hover:underline"
					target="_blank"
					rel="noopener noreferrer">Ronan Lyons (TCD)</a
				>
				<!-- Abstract Section -->
				<div class="ml-2">
					<!-- Abstract Button (Left-Aligned to the Page Edge) -->
					<button
						class="toggle-abstract mt-3 flex items-center text-[1.4rem] font-semibold hover:text-link focus:outline-none"
					>
						<!-- Rotating Arrow in Circle (No Margin) -->
						<span
							class="arrow-icon flex h-6 w-6 items-center justify-center rounded-full border-2 border-link transition-transform duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-4 w-4 text-link"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								stroke-width="6"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
							</svg>
						</span>
						<!-- Button Text with Left Margin -->
						<span class="ml-2">Abstract</span>
					</button>

					<!-- Abstract Content -->
					<div class="abstract-content hidden overflow-hidden transition-all duration-700">
						<p class="mt-4 text-[1.2rem] sm:ml-8">
							Did improved housing conditions contribute to the 19th century mortality transition?
							In this paper we examine a rare example of a public health intervention in rural
							areas, namely the large-scale provision of social housing in Ireland in the late 19th
							and early 20th centuries. We exploit a novel dataset of deaths-by-disease,
							deaths-by-age and the implementation of the house building scheme across local
							districts over the period 1870-1919, to test the impact of the intervention on
							mortality. Both two-way fixed-effects and novel difference-in-difference estimators
							show that areas that received more cottages experienced a larger decline in disease
							mortality over subsequent decades. Our estimates indicate that improved housing
							conditions may account for up to 40 % of the rural mortality decline in this period.
							This effect is driven by reductions in deaths from respiratory diseases. A causal
							interpretation is supported by falsification tests on deaths from non-communicable
							diseases and through an analysis using age-at-death and death-by-gender data. Beyond
							indicating that large-scale capital public health interventions can be effective in a
							rural setting, our results add to the literature of the European mortality transition
							and provide important causal evidence on the link between housing conditions and
							health outcomes.
						</p>
					</div>
				</div>

				<p class="mt-3 text-[1.2rem]">
					<span class="italic">Draft expected March 2025.</span>
				</p>
				<!-- Presentation Section -->
				<p class="mt-1 text-[1.2rem]">
					<span class="italic">Presentations:</span>
					University of Cork, University College Dublin, Trinity College Dublin, LSE Demography Seminar,
					South Denmark University*, CEPR Applied Micro-Economic History Workshop*, CEPR Public Health Interventions in the Long Run Workshop*, Economic History
					Society Conference*.
				</p>
			</li>
			<li>
				<strong> Representation and Organisational Performance: Evidence from the Trenches</strong> -
				with
				<a
					class="cactus-link"
					href="https://research.rug.nl/en/persons/olly-brufal-de-melgarejo"
					class="text-link hover:underline"
					target="_blank"
					rel="noopener noreferrer"
				>
					Oliver Brufal (University of Groningen)</a
				>
				<!-- Abstract Section -->
				<div class="ml-2">
					<!-- Abstract Button (Left-Aligned to the Page Edge) -->
					<button
						class="toggle-abstract mt-3 flex items-center text-[1.4rem] font-semibold hover:text-link focus:outline-none"
					>
						<!-- Rotating Arrow in Circle (No Margin) -->
						<span
							class="arrow-icon flex h-6 w-6 items-center justify-center rounded-full border-2 border-link transition-transform duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-4 w-4 text-link"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								stroke-width="6"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
							</svg>
						</span>
						<!-- Button Text with Left Margin -->
						<span class="ml-2">Abstract</span>
					</button>

					<!-- Abstract Content -->
					<div class="abstract-content hidden overflow-hidden transition-all duration-700">
						<p class="mt-4 text-[1.2rem] sm:ml-8">
							Individual level records of every French war-time fatality in the Great War enable us
							to explore the organisational implications of group representation. At the level of
							regiments, we explore how being commanded by officers from one’s home region impacts
							performance. We find that soldiers were more motivated when their superiors shared
							their regional identity. Notably we find that this effect only holds for regional
							minorities within the regiment, and that it is attenuated by greater diversity.
						</p>
					</div>
				</div>

				<p class="mt-3 text-[1.2rem]">
					<span class="italic">Draft expected Summer 2025.</span>
				</p>
				<!-- Presentation Section -->
				<p class="mt-1 text-[1.2rem]">
					<span class="italic">Presentations:</span>
					Cambridge Graduate Seminar, LSE Politcal Economy & Economic History WIP Seminar*.
				</p>
			</li>
		</ul>
	</section>

	<section class="mt-16" id="Experience">
		<h1 class="mb-8 text-center text-lg font-bold sm:text-left">Research Experience</h1>
		<ul>
			<li class="flex items-start gap-1 py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">December 2024 - ongoing</span>
				<div class="w-2/3">
					<strong class="block"
						>Research Assistant to <a
							href="https://www.ericbschneider.com"
							class="font-semibold text-link">Eric Schneider</a
						>.
					</strong>
					<p class="mt-1 text-[1.2rem]">
						Build OCR pipeline for the automated transcription of handwritten historical tables.
					</p>
				</div>
			</li>
			<li class="flex items-start gap-1 py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">October 2023 - June 2024</span>
				<div class="w-2/3">
					<strong class="block"
						>Research Assistant to <a href="https://Ronanlyons.com" class="font-semibold text-link"
							>Ronan Lyons</a
						>.
					</strong>
					<p class="mt-1 text-[1.2rem]">
						Worked on Urban Economics and Irish Economic History. Used advance NLP and OCR methods
						for data transcription.
					</p>
				</div>
			</li>
			<li class="flex items-start gap-1 py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">August 2021 - August 2022</span>
				<div class="w-2/3">
					<strong class="block"
						>Research Assistant to <a
							href="https://profiles.ucl.ac.uk/44206-tomas-cvrcek"
							class="font-semibold text-link">Tomas Cvrcek</a
						>.
					</strong>
					<p class="mt-1 text-[1.2rem]">
						Transcribed historical sources from the Austro-Hungarian empire and worked with ArcGIS
						to geocode data.
					</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="mb-24 mt-16" id="Presentations">
		<h1 class="mb-8 text-center text-lg font-bold sm:text-left">Presentations</h1>
		<h1 class="mb-2 hidden text-[2rem] font-semibold sm:flex sm:text-left">Upcoming:</h1>
		<ul>
			<li class="flex items-start py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">7th Febuary</span>
				<div class="w-2/3">
					<strong class="block"> CEPR Applied Micro-Economic History Workshop </strong>
					<p class="mt-1 text-[1.2rem]">
						Build Better Health: Public Housing and the Mortality Transition.
					</p>
				</div>
			</li>
			<li class="flex items-start py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">27th Febuary</span>
				<div class="w-2/3">
					<strong class="block">
						LSE Seminar for Political Economy and Economic History (SPEECH)
					</strong>
					<p class="mt-1 text-[1.2rem]">
						Representation and Organisational Performance: Evidence from the Trenches.
					</p>
				</div>
			</li>
			<li class="flex items-start py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">11th March</span>
				<div class="w-2/3">
					<strong class="block"> South Denmark University Economics Seminar </strong>
					<p class="mt-1 text-[1.2rem]">
						Reproductive Inequality, Mobility, and Status in pre-industrial Germany.
					</p>
				</div>
			</li>
			<li class="flex items-start py-4">
				<span class="w-1/3 text-[1.2rem] sm:text-sm">17th March</span>
				<div class="w-2/3">
					<strong class="block"> CEPR Public Health Interventions in the Long Run Workshop</strong>
					<p class="mt-1 text-[1.2rem]">
						Build Better Health: Public Housing and the Mortality Transition.
					</p>
				</div>
			</li>
		</ul>
		<h1 class="mb-2 hidden text-[2rem] font-semibold sm:flex sm:text-left">Past:</h1>
		<ul>
			<li class="flex items-start py-4">
				<div class="w-3/3">
					<strong class="block"> 2025 </strong>
					<p class="mt-1 text-[1.2rem]">
						LSE Demography Seminar.
					</p>
				</div>
			</li>
		</ul>
	</section>

	<button
		aria-label="Back to Top"
		class="z-90 fixed bottom-8 end-4 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-zinc-200 text-3xl opacity-0 transition-all duration-300 hover:border-zinc-400 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 dark:bg-zinc-700 sm:end-8 sm:h-12 sm:w-12"
		data-show="true"
		id="to-top-btn"
		><svg
			aria-hidden="true"
			class="h-6 w-6"
			fill="none"
			focusable="true"
			stroke="currentColor"
			stroke-width="2"
			viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M4.5 15.75l7.5-7.5 7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
		</svg>
	</button>

	<script>
		const toTopBtn = document.getElementById("to-top-btn");

		window.addEventListener("scroll", () => {
			if (window.scrollY > 300) {
				toTopBtn.setAttribute("data-show", "true");
			} else {
				toTopBtn.setAttribute("data-show", "false");
			}
		});

		toTopBtn.addEventListener("click", () => {
			window.scrollTo({ top: 0, behavior: "smooth" });
		});

		const buttons = document.querySelectorAll(".toggle-abstract");

		buttons.forEach((button) => {
			button.addEventListener("click", () => {
				const content = button.nextElementSibling; // Target the sibling content
				const arrow = button.querySelector(".arrow-icon");

				// Toggle the content visibility
				content.classList.toggle("hidden");

				// Rotate the arrow icon
				arrow.classList.toggle("rotate-90");
			});
		});
	</script>
</PageLayout>
