---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Resources" }}>
	<section class="mt-16">
		<a
			class="text-[1rem] text-accent no-underline transition hover:text-link"
			href="/"
		>
			&larr; Back
		</a>
		<h1 class="mb-4 mt-6 text-lg font-bold">LaTeX Templates</h1>
		<p class="text-[1.5rem]">
			A collection of LaTeX templates for academic papers, presentations, and more:
			<a
				class="text-accent no-underline transition hover:text-link"
				href="https://github.com/johler1/LaTeX_templates"
				target="_blank"
				rel="noopener noreferrer"
			>
				GitHub Repository
			</a>
		</p>
	</section>
</PageLayout>
